// Specific CSS for your home-page
#typed_test {
  background-color: black;
  color: $new-white;
  width: 200px
}

.header {
  text-align: center;
  background-color: $violet;
  color: $new-white;
}

