.image-segment, .card-segment {
  border: 1px solid #eeeeee;
  margin: 15px;
  background-color: #F5F8DE;
  box-shadow: 3px 3px $violet;
  padding: 5px
}

.square {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 12px;
  color: $new-white;
  border: 1px solid gray;
  margin: 10px;
  text-decoration: none;
  background-color: $violet
}
